.banner {
    height: 650px;
    width: 100%;
    float: left;
}
.featured-work a {
    text-decoration: none;
}
.featured-work h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 2px 2px #111;
    font-size: 55px;
}
.marvel-lineup {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/marvel_line_up_banner.gif') center top no-repeat;
    background-size: cover;
}
.comix {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/comix_banner.jpg') right top no-repeat;
    background-size: cover;
}
.vincent {
background: url('https://s3.amazonaws.com/nickyrasch/banners/vincent_banner.png') left top no-repeat;
background-size: cover;
}
.stella {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/stella_banner.jpg') center top no-repeat;
    background-size: cover;
}
.era-agency {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/era_banner.gif') center top no-repeat;
    background-size: cover;
}
.pch {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/pch_banner.jpg') center top no-repeat;
    background-size: cover;
}
.columbu {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/franco_banner.jpg') right top no-repeat;
    background-size: cover;
}
.fcflamingo {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/flamingo_banner.gif') center top no-repeat;
    background-size: cover;
}
.notmad {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/nm_banner.jpg') center top no-repeat;
    background-size: cover;
}
.bloodlist {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/bloodlist_banner.jpg') right top no-repeat;
    background-size: cover;
}
.journal-tech {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/journal_tech_banner.png') center bottom no-repeat;
    background-size: cover;
}
.seabury {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/seabury_banner.png') center top no-repeat;
    background-size: cover;
}
.symphony {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/symphony_banner.png') left top no-repeat;
    background-size: cover;
}
.jtux {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/jtux_banner.png') right top no-repeat;
    background-size: cover;
}
.dailyjournal {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/daily_journal_banner.jpg') left top no-repeat;
    background-size: cover;
}
.sustain {
    background: url('https://s3.amazonaws.com/nickyrasch/banners/sustain_banner.jpg') center top no-repeat;
    background-size: cover;
}

@media (max-width: 992px) {
    .featured-work h1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 400px;
    }
    .featured-work h1 {
        font-size: 30px;
    }
}
