

.my_carousel {
  position: relative;
  width: 760px;
  background: #fff;
  margin:  30px auto 20px auto;
}

.carousel_container {
  height: 340px;
  margin: 0px;
  background: url(../images/background_car.jpg) no-repeat 0px 0px;

}

.caption_container {
  width: 435px;
  margin: 0px 0px 0px 165px;
  padding: 0px 0px 0px 20px;
  border-left:  3px solid #713e1b;
}

.carousel_data {}

#carousel {
  margin: 0px auto;
  width: 600px;
  height: 300pxl
}

#carousel img {
  width: 300px;
  height: 225px;
  cursor: pointer;
}

#captions {}